In [143]:
import pandas as pd

In [144]:
equity_df = pd.read_csv('utils\\ibov_equity.csv', sep=';')

In [145]:
index_df = pd.read_csv('utils\\ibov_equity_index.csv', sep=';')

In [146]:
equity_df.dtypes

date               object
ticker             object
field              object
value              object
extraction_date    object
dtype: object

In [147]:
index_df.dtypes

date                object
ticker              object
field               object
override           float64
override_period    float64
value               object
extraction_date     object
dtype: object

In [148]:
equity_df

              date           ticker        field        value extraction_date
0       2018-08-20  CYRE3 BS Equity      PX_Last        11.15      2023-08-22
1       2018-08-21  CYRE3 BS Equity      PX_Last        10.82      2023-08-22
2       2018-08-22  CYRE3 BS Equity      PX_Last           11      2023-08-22
3       2018-08-23  CYRE3 BS Equity      PX_Last        10.78      2023-08-22
4       2018-08-24  CYRE3 BS Equity      PX_Last         10.7      2023-08-22
...            ...              ...          ...          ...             ...
692009  2023-09-15  JBSS3 BS Equity  CUR_MKT_CAP  41,966.7619      2023-09-15
692010  2023-09-12  JBSS3 BS Equity      PX_Last        18.96      2023-09-15
692011  2023-09-13  JBSS3 BS Equity      PX_Last        19.03      2023-09-15
692012  2023-09-14  JBSS3 BS Equity      PX_Last        18.98      2023-09-15
692013  2023-09-15  JBSS3 BS Equity      PX_Last        18.92      2023-09-15

[692014 rows x 5 columns]

In [149]:
index_df = index_df.drop(columns=['override', 'override_period'])
index_df['date'] = pd.to_datetime(index_df['date'])
index_df['value'] = index_df['value'].str.replace(',', '').astype(float)
index_df['extraction_date'] = pd.to_datetime(index_df['extraction_date'])
index_df

            date      ticker        field       value extraction_date
0     2000-09-18  IBOV Index  CUR_MKT_CAP   178143.91      2023-08-21
1     2000-09-19  IBOV Index  CUR_MKT_CAP   179551.13      2023-08-21
2     2000-09-20  IBOV Index  CUR_MKT_CAP   179900.99      2023-08-21
3     2000-09-21  IBOV Index  CUR_MKT_CAP   178128.82      2023-08-21
4     2000-09-22  IBOV Index  CUR_MKT_CAP   180564.82      2023-08-21
...          ...         ...          ...         ...             ...
12000 2023-09-14  IBOV Index  CUR_MKT_CAP  3422420.38      2023-09-18
12001 2023-09-15  IBOV Index  CUR_MKT_CAP  3399653.45      2023-09-18
12002 2023-09-14  IBOV Index      PX_Last   119391.55      2023-09-18
12003 2023-09-15  IBOV Index      PX_Last   118757.53      2023-09-18
12004 2023-09-18  IBOV Index      PX_Last   118288.21      2023-09-18

[12005 rows x 5 columns]

In [150]:
PX_Last_index_df = index_df[index_df['field'] == 'PX_Last'].sort_values('extraction_date').drop_duplicates(subset=['date', 'ticker', 'field'], keep='last').sort_values(['ticker', 'date']).set_index('date', drop=True).copy()
CUR_MKT_CAP_index_df = index_df[index_df['field'] == 'CUR_MKT_CAP'].sort_values('extraction_date').drop_duplicates(subset=['date', 'ticker', 'field'], keep='last').sort_values(['ticker', 'date']).set_index('date', drop=True).copy()

In [151]:
equity_df['date'] = pd.to_datetime(equity_df['date'])
equity_df['value'] = equity_df['value'].str.replace(',', '').astype(float)
equity_df['extraction_date'] = pd.to_datetime(equity_df['extraction_date'])

In [152]:
PX_Last_df = equity_df[equity_df['field'] == 'PX_Last'].copy()
PX_Last_df = PX_Last_df.sort_values('extraction_date').drop_duplicates(subset=['date', 'ticker', 'field'], keep='last').sort_values(['ticker', 'date']).set_index('date', drop=True).copy()
PX_Last_df.tail()

                     ticker    field  value extraction_date
date
2023-09-11  YDUQ3 BS Equity  PX_Last  20.88      2023-09-13
2023-09-12  YDUQ3 BS Equity  PX_Last  20.62      2023-09-15
2023-09-13  YDUQ3 BS Equity  PX_Last  21.09      2023-09-15
2023-09-14  YDUQ3 BS Equity  PX_Last  20.90      2023-09-15
2023-09-15  YDUQ3 BS Equity  PX_Last  20.25      2023-09-15

In [153]:
CUR_MKT_CAP_df = equity_df[equity_df['field'] == 'CUR_MKT_CAP'].copy()
CUR_MKT_CAP_df = CUR_MKT_CAP_df.sort_values('extraction_date').drop_duplicates(subset=['date', 'ticker', 'field'], keep='last').sort_values(['ticker', 'date']).set_index('date', drop=True).copy()
CUR_MKT_CAP_df.tail()

                     ticker        field      value extraction_date
date
2023-09-11  YDUQ3 BS Equity  CUR_MKT_CAP  6453.7752      2023-09-13
2023-09-12  YDUQ3 BS Equity  CUR_MKT_CAP  6373.4121      2023-09-15
2023-09-13  YDUQ3 BS Equity  CUR_MKT_CAP  6518.6839      2023-09-15
2023-09-14  YDUQ3 BS Equity  CUR_MKT_CAP  6459.9570      2023-09-15
2023-09-15  YDUQ3 BS Equity  CUR_MKT_CAP  6259.0492      2023-09-15

In [154]:
PX_Last_df = pd.concat([PX_Last_df, PX_Last_index_df], axis=0)
CUR_MKT_CAP_df = pd.concat([CUR_MKT_CAP_df, CUR_MKT_CAP_index_df], axis=0)

In [155]:
PX_Last_pivot_df = PX_Last_df.pivot(columns='ticker', values='value')
PX_Last_pivot_df.tail()

ticker,ABEV3 BS Equity,ALPA4 BS Equity,ALSO3 BS Equity,ARZZ3 BS Equity,ASAI3 BS Equity,AZUL4 BS Equity,B3SA3 BS Equity,BBAS3 BS Equity,BBDC3 BS Equity,BBDC4 BS Equity,...,TIMS3 BS Equity,TOTS3 BS Equity,UGPA3 BS Equity,USIM5 BS Equity,VALE3 BS Equity,VBBR3 BS Equity,VIIA3 BS Equity,VIVT3 BS Equity,WEGE3 BS Equity,YDUQ3 BS Equity
date,,,,,,,,,,,,,,,,,,,,,
2023-09-12,13.71,8.64,23.79,70.35,12.87,13.71,13.16,47.30,13.11,14.83,...,14.90,28.62,19.11,6.82,67.62,18.93,1.17,42.77,35.65,20.62
2023-09-13,13.64,8.64,23.95,72.00,12.84,13.69,13.21,47.26,13.15,14.89,...,14.90,28.70,18.33,6.80,67.36,18.90,1.11,42.69,36.93,21.09
2023-09-14,13.53,8.68,24.12,72.25,12.62,13.10,13.30,47.39,13.20,14.95,...,14.95,29.06,18.75,6.90,70.12,19.36,0.90,43.40,36.08,20.90
2023-09-15,13.42,8.35,23.56,70.31,12.42,13.54,13.20,47.55,13.13,14.92,...,14.87,29.50,19.04,6.94,69.54,19.26,0.76,43.29,36.10,20.25
2023-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [156]:
CUR_MKT_CAP_pivot_df = CUR_MKT_CAP_df.pivot(columns='ticker', values='value')
CUR_MKT_CAP_pivot_df.tail()

ticker,ABEV3 BS Equity,ALPA4 BS Equity,ALSO3 BS Equity,ARZZ3 BS Equity,ASAI3 BS Equity,AZUL4 BS Equity,B3SA3 BS Equity,BBAS3 BS Equity,BBDC3 BS Equity,BBDC4 BS Equity,...,TIMS3 BS Equity,TOTS3 BS Equity,UGPA3 BS Equity,USIM5 BS Equity,VALE3 BS Equity,VBBR3 BS Equity,VIIA3 BS Equity,VIVT3 BS Equity,WEGE3 BS Equity,YDUQ3 BS Equity
date,,,,,,,,,,,,,,,,,,,,,
2023-09-11,218505.6676,5937.7915,13263.6820,7627.1782,16514.8845,4761.9896,75123.2900,135763.4584,147006.1850,147006.1850,...,35610.0327,17299.6446,21144.4288,8738.5533,300454.7672,21610.7500,1886.1489,70684.5255,148081.3790,6453.7752
2023-09-12,215985.0543,5983.1402,13653.9591,7808.0906,17393.3358,4775.9237,76578.0400,135534.2250,148655.2604,148655.2604,...,36069.9855,17663.7826,21311.7107,8624.2070,300232.7672,22053.4500,1870.1646,71150.3214,149634.3866,6373.4121
2023-09-13,214882.2860,5996.7206,13745.7890,7991.2228,17352.7919,4768.9567,76868.9900,135419.6084,149187.1845,149187.1845,...,36069.9855,17713.1573,20441.8449,8606.1994,299078.3673,22018.5000,1774.2587,71017.2368,155006.9537,6518.6839
2023-09-14,213149.3643,6010.4627,13843.3582,8018.9701,17055.4699,4563.4282,77392.7000,135792.1126,149772.4117,149772.4117,...,36191.0258,17935.3432,20910.2342,8717.3954,311332.7660,22554.4000,1438.5882,72198.3621,151439.2334,6459.9570
2023-09-15,211416.4439,5856.3496,13521.9533,7803.6508,16785.1773,4716.7037,76810.7989,136250.5771,149239.9354,149239.9354,...,35997.3611,18206.9038,21233.6468,8908.5680,308757.5703,22437.9003,1214.8078,72015.3724,151523.1733,6259.0492

In [ ]:
# PX_Last_df: PX_Last in long format.
# CUR_MKT_CAP_df: CUR_MKT_CAP in long format.
# PX_Last_pivot_df: PX_Last in wide format.
# CUR_MKT_CAP_pivot_df: CUR_MKT_CAP in wide format.